/* app css stylesheet */

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 1em;
}

.menu > li {
  display: inline;
    font-size: 2em;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}

input[type="text"] {
    width: 500px;
}

.contentWrapper {
    padding: 20px;
}


.artist {
    padding: 20px;
}

.artist img {
    width: 100px;
    height: 100px;
}

.artistPick {
    padding: 20px;
}

.artistPick img {
    width: 100px;
    height: 100px;
}

ul li img {
    max-width: 50px;
    max-height: 50px;
}