<div class="artist" >
<h3>{{artist.name}}</h3>
<img src="../{{artist.picture}}" alt=""/> <br/>
<form name="artist">
    <div ng-repeat="field in schema">
        <div ng-switch on="field.type">
            <div ng-switch-when="String">
                <input type="text" ng-model=artist[field.name] /> {{field.name}}
            </div>
            <div ng-switch-when="Date">
                <div class="input-append date" onload="$(this).datetimepicker({language: 'pt-BR'});">
                    <input data-format="dd/MM/yyyy hh:mm:ss" type="text" ng-model=artist[field.name] />
                    <span class="add-on">
                      <i data-time-icon="icon-time" data-date-icon="icon-calendar">
                      </i>
                    </span>
                </div>
            </div>
            <div ng-switch-when="Boolean">
                <input type="checkbox" ng-model="artist[field.name]"> {{field.name}}
            </div>
            <div ng-switch-when="Number">
                <input type="number" ng-model="artist[field.name]"> {{field.name}}
            </div>
            <div ng-switch-when="[String]">
                <ng ng-repeat="i in artist[field.name] track by $index">
                    <input ng-model=artist[field.name][$index] /> <input type="button" value="-" ng-click="artist[field.name].splice($index,1)" />
                </ng>
                <input type="button" value="+" ng-click="artist[field.name].push('')">{{field.name}}
            </div>
            <div ng-switch-default>
                 <input type="text" ng-model=artist[field.name] /> {{field.name}}
            </div>
        </div>
    </div>
</form>

<form>
    <table ng-repeat="field in schema">
        <!--<tr><td>{{field.name}}, type {{field.type}}</td><td><input type="text" ng-model=artist[field.name] /></td></tr>-->
    </table>
    <p class="formSubmit">
    <input type="submit" value="Submit da shit" ng-click="saveArtist()"/>
    </p>
</form>
    <div class="json">
        <h4>Here be the raw (tasty, maybe?!??!) JSON for teh devas.</h4>
        <textarea class="json">{{artist}}</textarea>
    </div>
</div>
<!--

<tr><td>id</td><td><input type="text" ng-model=artist.id /></td></tr>
<tr><td>name</td><td><input type="text" ng-model=artist.name /></td></tr>
<tr><td>picture</td><td><input type="text" ng-model=artist.picture /></td></tr>
<tr><td>quote</td><td><input type="text" ng-model=artist.quote /></td></tr>
<tr><td>content</td><td><input type="text" ng-model=artist.content /></td></tr>
<tr><td>featured</td><td><input type="text" ng-model=artist.featured /></td></tr>
<tr><td>status</td><td><input type="text" ng-model=artist.status /></td></tr>
<tr><td>stage</td><td><input type="text" ng-model=artist.stage /></td></tr>
<tr><td>day</td><td><input type="text" ng-model=artist.day /></td></tr>
<tr><td>time_start</td><td><input type="text" ng-model=artist.time_start /></td></tr>
<tr><td>time_stop</td><td><input type="text" ng-model=artist.time_stop /></td></tr>
<tr><td>founded</td><td><input type="text" ng-model=artist.founded /></td></tr>
<tr><td>genre</td><td><input type="text" ng-model=artist.genre /></td></tr>
<tr><td>members</td><td><input type="text" ng-model=artist.members /></td></tr>
<tr><td>albums</td><td><input type="text" ng-model=artist.albums /></td></tr>
<tr><td>highlights</td><td><input type="text" ng-model=artist.highlights /></td></tr>
<tr><td>youtube</td><td><input type="text" ng-model=artist.youtube /></td></tr>
<tr><td>spotify</td><td><input type="text" ng-model=artist.spotify /></td></tr>
<tr><td>contact_info</td><td><input type="text" ng-model=artist.contact_info /></td></tr>
<tr><td>press_image</td><td><input type="text" ng-model=artist.press_image /></td></tr>
<tr><td>credits</td><td><input type="text" ng-model=artist.credits /></td></tr>
<tr><td>place</td><td><input type="text" ng-model=artist.place /></td></tr>

-->