<h3>{{artist.name}}</h3>
<form>
    <table ng-repeat="field in fields">
        <tr><td>{{field.name}}, type {{field.type}}</td><td><input type="text" ng-model=artist[field.name] /></td></tr>
    </table>
    <input type="submit" value="Submit da shit" ng-click="saveArtist()"/>
</form>

<!--

<tr><td>id</td><td><input type="text" ng-model=artist.id /></td></tr>
<tr><td>name</td><td><input type="text" ng-model=artist.name /></td></tr>
<tr><td>picture</td><td><input type="text" ng-model=artist.picture /></td></tr>
<tr><td>quote</td><td><input type="text" ng-model=artist.quote /></td></tr>
<tr><td>content</td><td><input type="text" ng-model=artist.content /></td></tr>
<tr><td>featured</td><td><input type="text" ng-model=artist.featured /></td></tr>
<tr><td>status</td><td><input type="text" ng-model=artist.status /></td></tr>
<tr><td>stage</td><td><input type="text" ng-model=artist.stage /></td></tr>
<tr><td>day</td><td><input type="text" ng-model=artist.day /></td></tr>
<tr><td>time_start</td><td><input type="text" ng-model=artist.time_start /></td></tr>
<tr><td>time_stop</td><td><input type="text" ng-model=artist.time_stop /></td></tr>
<tr><td>founded</td><td><input type="text" ng-model=artist.founded /></td></tr>
<tr><td>genre</td><td><input type="text" ng-model=artist.genre /></td></tr>
<tr><td>members</td><td><input type="text" ng-model=artist.members /></td></tr>
<tr><td>albums</td><td><input type="text" ng-model=artist.albums /></td></tr>
<tr><td>highlights</td><td><input type="text" ng-model=artist.highlights /></td></tr>
<tr><td>youtube</td><td><input type="text" ng-model=artist.youtube /></td></tr>
<tr><td>spotify</td><td><input type="text" ng-model=artist.spotify /></td></tr>
<tr><td>contact_info</td><td><input type="text" ng-model=artist.contact_info /></td></tr>
<tr><td>press_image</td><td><input type="text" ng-model=artist.press_image /></td></tr>
<tr><td>credits</td><td><input type="text" ng-model=artist.credits /></td></tr>
<tr><td>place</td><td><input type="text" ng-model=artist.place /></td></tr>

-->